.about_second_sec_container {
      background: url('../public/resources/images/bg2.jpg') rgba(250, 250, 250, 0.9);
      background-blend-mode: overlay;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
}