.contact_main_container {
      background: url('../public/resources/images/bg3.png');
      background-repeat: repeat;
}
.contact_banner {
      background: url("../public/resources/images/contact-banner-rhma.jpg");
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;
}