@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif !important;
}

@layer components {
  .tail_navbar_link {
    @apply cursor-pointer outline-1 outline-dashed outline-transparent hover:outline-[#0A5174] hover:text-[#0A5174] duration-150 p-1;
  }
  .tail_navbar_lan_link {
    @apply transform hover:text-[#0A5174] hover:translate-x-1 duration-150;
  }
  .btn_primary {
    @apply px-3 py-2 rounded-sm bg-[#0A5174] text-white cursor-pointer capitalize font-medium text-base transform opacity-80 hover:opacity-100 active:scale-95 duration-200;
  }
  .gap {
    @apply py-16
  }

  .default_select {
    padding: 8px 12px;
    color: #333;
    background-color: #eee;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 3px;
  }
  .MuiInput-root {
    height: 10px !important;
  }
}