.hero_container {
      background-blend-mode: overlay;
      background: url('../public/resources/images/hero-image-muslim.jpg') rgba(13,13,13,0.6);
      background-size: cover;
      min-height: 450px;
}