.track_info_container {
      background-blend-mode: overlay;
      background: url('../public/resources/images/track-bg-01.png') rgb(250, 250, 250, 0.9);
      background-size: cover;
      background-position: center;
}